---
permalink: /
---
{% assign title = 'Home' %}
{% include header.html %}

		<div class="col-md-12 text-default w3-margin-bottom">
			<h1 class="w3-hide-small">Welcome to the CSU Trumpet Guild!</h1>
			<h1 class="w3-hide-large">Colorado State Trumpet Guild</h1>
			<p>We seek to promoting communication between trumpet players in the community, and improving the level of performance, teaching, and literature associated with the trumpet at Colorado State.</p>
		</div>

<div class="col-md-12 w3-margin-bottom">
	<h2 id="news">News</h2>
	<hr/>

	{% for news in site.data.news.news %}
		{% if news.theme == "important" %}
			<div class="col-md-12 w3-padding-16 w3-round w3-border w3-border-red w3-margin-bottom">
		{% elsif news.theme == "tangential" %}
			<div class="col-md-12 w3-padding-16 w3-round w3-border w3-border-blue w3-margin-bottom" style="font-family: 'Comic Sans', 'Raleway', sans-serif'">
		{% else %}
			<div class="col-md-12 w3-padding-16 w3-round w3-border w3-margin-bottom">
		{% endif %}

		{% if news.image %}
			<img src="/assets/images/{{ news.image }}" class="w3-margin-right" style="height:70px; float:left;">
		{% endif %}
		{{ news.content }}
	</div>
	{% endfor %}
</div>

<div class="col-md-12">
	<h2>Upcoming Meetings</h2>
	<hr/>
</div>

{% assign i = 0 %}
<div class="col-md-12">
	{% for meeting in site.data.meetings.meetings reversed%}
	{% assign uri = '/assets/images/' | append: meeting.picture %}
	{% assign i = i | plus: 1 %}
	{% include meeting_card.html meeting_data=meeting image_uri=uri%}
	{% if i == 3 %}
	<div class="clearfix"></div>
	{% assign i = 0 %}
	{% endif %}
	{% endfor %}
</div>

{% include footer.html %}

<script>
	$(function() {
		lowest = 0;
		for (var fd of $('[future-date]')){
			meetDate = new Date($(fd).attr('future-date'));
			meetDate.setHours(19);
			meetDate.setMinutes(0);
			today = new Date();
			if ( meetDate >= today){
				if (meetDate < lowest || lowest === 0){
					lowest = meetDate;
				}
			}
		}
		for (var fd of $('[future-date]')){
			meetDate = new Date($(fd).attr('future-date'));
			meetDate.setHours(19);
			meetDate.setMinutes(0);
			if ( meetDate.getTime() === new Date(lowest).getTime()){
				// $(fd).find('h5>span').addClass('w3-tag w3-round background-red');

				// If we detect an upcoming meeting, we need to visually split the
				// meetings page into upcoming and previous meetings.
				$(fd).after('<h2 class="p-3"> Previous Meetings: </h2>');
				$(fd).after('<hr/>');
				$(fd).after('<div class="w-100"/>');
				$(fd).after('<div class="clearfix"></div>');
				//$(fd).before('<h2 class="p-3" display="block"> Upcoming Meetings: </h2>');

				// When this happens, every `div.clearfix' needs to be pushed
				// forward by one element, since the upcoming meeting
				// was pulled out of the flow.
				for (var clearfix of $('div.col-md-12 > div.clearfix')) {
					$(clearfix).insertAfter($(clearfix).next());
				}

				$('html, body').animate({
					scrollTop: $(fd).offset().top - 100
				},1000);
			}
		}
	});

	$(function() {
		$('a[rel*=leanModal]').leanModal({ top : 200, closeButton: ".modal_close" });
	});

</script>
